<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Controller.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDAO</servlet-name>
        <servlet-class>context.UserDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>Controller.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controller.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Controller.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgotpass</servlet-name>
        <servlet-class>Controller.Forgotpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInformation</servlet-name>
        <servlet-class>Controller.EditInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Information</servlet-name>
        <servlet-class>Controller.Information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersionalInfo</servlet-name>
        <servlet-class>Controller.PersionalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPersionalInfo</servlet-name>
        <servlet-class>Controller.EditPersionalInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersionalUser</servlet-name>
        <servlet-class>Controller.DeletePersionalUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDAO</servlet-name>
        <url-pattern>/UserDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgotpass</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInformation</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Information</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersionalInfo</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPersionalInfo</servlet-name>
        <url-pattern>/editinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersionalUser</servlet-name>
        <url-pattern>/deleteinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
